
    <div class="container-fluid content-center d-inline-block">
      <div class="row">
        <div class="cta-desc-wrapper col-md-6 d-inline-block">
            <h3 class="desc">Parcoursup t'a déçu ?<br/>Le cadre scolaire ne te correspond pas ?<br/>Inscris-toi à notre newsletter !</h3>
        </div>
        <div class="cta-form-wrapper col-md-6 d-inline-block">
          <%= form_for @user, :html => {:class => 'cta-form'} do |form| %>
            <div class="field">
              <label class="sr-only" for="email">name:</label>
              <%= form.text_field :name, placeholder: "Votre nom", :class => 'form-control'%>
            </div>

            <div class="field">
              <label class="sr-only" for="email">email:</label>
              <%= form.text_field :email, placeholder: "email@example.com", :class => 'form-control' %>
            </div>

            <div class="actions">
              <%= form.submit 'Inscrivez-vous', :class => 'btn btn-primary form-control' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
