<footer>
    <div class="container">
        <div class="row">
            <div class="metrics col-md-3">
                <p>Beaucoup</p>
                <p>d'heures de code</p>
            </div>
            <div class="metrics col-md-3">
                <p>Beaucoup</p>
                <p>de participants</p>
            </div>
            <div class="metrics col-md-3">
                <p>Beaucoup</p>
                <p>de cafés</p>
            </div>
            <div class="metrics col-md-3">
                <p>Beaucoup</p>
                <p>de cheveux blancs</p>
            </div>
        </div>
    </div>
</footer>
