<footer>
    <div class="container">
        <div class="row">
            <div class="metrics col-md-3">
                <p><strong>500</strong></p>
                <p>personnes formées</p>
            </div>
            <div class="metrics col-md-3">
                <p><strong>3</strong></p>
                <p>mois de formation</p>
            </div>
            <div class="metrics col-md-3">
                <p><strong>0€</strong></p>
                <p>pour participer</p>
            </div>
            <div class="metrics col-md-3">
                <p><strong>60%</strong></p>
                <p>de réussite</p>
            </div>
        </div>
    </div>
</footer>
