<header>
    <nav class="main-nav">
        <div class="logo-item">
            <a href="/" class="logo-link">
                <%= image_tag("logo.png", class: "img-logo") %>
            </a>
        </div>
        <ul class ="nav-links list-inline">
            <li class="list-inline-item"><a href="https://www.thehackingproject.org/about" class="ext-link">Qui sommes-nous</a></li>
            <li class="list-inline-item"><a href="https://www.thehackingproject.org/contact" class="ext-link">Contact</a></li>
        </ul>
    </nav>
</header>
