.main-nav {
    display: flex;
    height: 90px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
}

nav>* {
    display: flex;
    align-items: center
}

.img-logo {
    height: 50px;
    width: auto
}

.ext-link {
    color: white;
    font-size: 20px
}

.ext-link:hover {
    color: #e6e6e6
}

nav li {
    display: inline-block;
    padding: 0 10px;
    margin: 0 1px;
    font-size: large
}
